@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .headerscrollbar::-webkit-scrollbar {
    @apply hidden;
  }
  .headerscrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .heroimg {
    background: url(/img/hero.jpg);
  }
  .aboutHero {
    background: url(/img/about.jpg);
  }
  .home_blog .blog_card:last-child {
    @apply md:hidden lg:flex;
  }
  .article {
    @apply px-5 lg:px-0;
  }
  .article img {
    @apply w-full;
  }
  .article p {
    @apply leading-normal text-lg py-2 text-gray-700;
  }
  .article ul {
    @apply list-disc ml-6 my-4;
  }
  .article ol {
    @apply list-decimal ml-6 my-4;
  }
  .article a {
    @apply text-blue-600;
  }
  .article h1 {
    @apply text-4xl font-semibold my-4;
  }
  .article h2 {
    @apply text-3xl font-semibold my-3;
  }
  .article h3 {
    @apply text-2xl font-semibold my-2;
  }
  .article h4 {
    @apply text-xl font-semibold my-1;
  }
  .article h5 {
    @apply text-lg font-semibold;
  }
  .article h6 {
    @apply font-semibold;
  }
}
